<!-- Main Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <strong>Hệ thống quản lý thông tin học sinh</strong>
        </div>
    </div>
</footer>